# Birleştirme (Join) İşlemleri

In [1]:
import numpy as np

In [2]:
import pandas as pd

In [3]:
m = np.random.randint(1,30,size=(5,3))

In [6]:
df1 = pd.DataFrame(m,columns=["var1","var2","var3"])

In [7]:
df1

   var1  var2  var3
0    20    19    17
1    19    21     6
2    23    12    22
3     5    26     1
4     7    12     9

In [8]:
df2 = df1+99

In [9]:
df2

   var1  var2  var3
0   119   118   116
1   118   120   105
2   122   111   121
3   104   125   100
4   106   111   108

In [10]:
pd.concat([df1,df2])

   var1  var2  var3
0    20    19    17
1    19    21     6
2    23    12    22
3     5    26     1
4     7    12     9
0   119   118   116
1   118   120   105
2   122   111   121
3   104   125   100
4   106   111   108

In [11]:
pd.concat([df1,df2],ignore_index=True)

   var1  var2  var3
0    20    19    17
1    19    21     6
2    23    12    22
3     5    26     1
4     7    12     9
5   119   118   116
6   118   120   105
7   122   111   121
8   104   125   100
9   106   111   108

In [14]:
df1.columns

Index(['var1', 'var2', 'var3'], dtype='object')

In [15]:
df2.columns

Index(['var1', 'var2', 'var3'], dtype='object')

In [16]:
df2.columns=["var1","var2","deg3"]

In [19]:
df2

   var1  var2  deg3
0   119   118   116
1   118   120   105
2   122   111   121
3   104   125   100
4   106   111   108

In [20]:
pd.concat([df1,df2])

   var1  var2  var3   deg3
0    20    19  17.0    NaN
1    19    21   6.0    NaN
2    23    12  22.0    NaN
3     5    26   1.0    NaN
4     7    12   9.0    NaN
0   119   118   NaN  116.0
1   118   120   NaN  105.0
2   122   111   NaN  121.0
3   104   125   NaN  100.0
4   106   111   NaN  108.0

In [21]:
pd.concat([df1,df2],join="inner")

   var1  var2
0    20    19
1    19    21
2    23    12
3     5    26
4     7    12
0   119   118
1   118   120
2   122   111
3   104   125
4   106   111