# Gözlem ve değişken seçimi

loc && iloc yapısı

In [2]:
import numpy as np

In [3]:
import pandas as pd

In [4]:
m= np.random.randint(1,30,size=(10,3))

In [5]:
df=pd.DataFrame(m,columns=["var1","var2","var3"])

In [6]:
df

   var1  var2  var3
0    22    10    28
1    13     9    16
2     5    17    18
3    11    27    10
4    14    25    16
5     5    17    24
6    29     2    27
7    29     6    24
8    11     5     8
9    12    25    14

loc : tanımlandığı şekliyle seçim yapmak için kullanılır.

In [7]:
df.loc[0:3]

   var1  var2  var3
0    22    10    28
1    13     9    16
2     5    17    18
3    11    27    10

iloc : alışık olduğumuz indexleme mantığıyla seçim yapar.

In [8]:
df.iloc[0:3]

   var1  var2  var3
0    22    10    28
1    13     9    16
2     5    17    18

In [9]:
df.iloc[0,0]

22

In [10]:
df.iloc[:3,:2]

   var1  var2
0    22    10
1    13     9
2     5    17

In [11]:
df

   var1  var2  var3
0    22    10    28
1    13     9    16
2     5    17    18
3    11    27    10
4    14    25    16
5     5    17    24
6    29     2    27
7    29     6    24
8    11     5     8
9    12    25    14

In [12]:
df.loc[0:3,"var3"]

0    28
1    16
2    18
3    10
Name: var3, dtype: int64

In [13]:
df.iloc[0:3]

   var1  var2  var3
0    22    10    28
1    13     9    16
2     5    17    18

In [15]:
df.iloc[0:3,2:3]

   var3
0    28
1    16
2    18

In [17]:
df.iloc[0:3]["var3"]

0    28
1    16
2    18
Name: var3, dtype: int64