# İleri Birleştirme İşlemleri

In [1]:
import pandas as pd

birebir birlesirme

In [2]:
df1= pd.DataFrame({'calisanlar':['Ali','Veli','Ayse','Fatma'],'grup':['muhasebe','muhendislik','muhendislik','ik']})

In [3]:
df1

  calisanlar         grup
0        Ali     muhasebe
1       Veli  muhendislik
2       Ayse  muhendislik
3      Fatma           ik

In [4]:
df2= pd.DataFrame({'calisanlar':['Ali','Veli','Ayse','Fatma'],'ilk giris':[2010,2009,2014,2019]})

In [5]:
df2

  calisanlar  ilk giris
0        Ali       2010
1       Veli       2009
2       Ayse       2014
3      Fatma       2019

In [6]:
pd.merge(df1,df2)

  calisanlar         grup  ilk giris
0        Ali     muhasebe       2010
1       Veli  muhendislik       2009
2       Ayse  muhendislik       2014
3      Fatma           ik       2019

In [7]:
pd.merge(df1,df2,on="calisanlar")

  calisanlar         grup  ilk giris
0        Ali     muhasebe       2010
1       Veli  muhendislik       2009
2       Ayse  muhendislik       2014
3      Fatma           ik       2019

çoktan teke

In [8]:
df3 =pd.merge(df1,df2)

In [9]:
df3

  calisanlar         grup  ilk giris
0        Ali     muhasebe       2010
1       Veli  muhendislik       2009
2       Ayse  muhendislik       2014
3      Fatma           ik       2019

In [ ]:
pd.