# İleri Birleştirme İşlemleri

In [35]:
import pandas as pd

birebir birlesirme

In [36]:
df1= pd.DataFrame({'calisanlar':['Ali','Veli','Ayse','Fatma'],'grup':['muhasebe','muhendislik','muhendislik','IK']})

In [37]:
df1

  calisanlar         grup
0        Ali     muhasebe
1       Veli  muhendislik
2       Ayse  muhendislik
3      Fatma           IK

In [38]:
df2= pd.DataFrame({'calisanlar':['Ali','Veli','Ayse','Fatma'],'ilk giris':[2010,2009,2014,2019]})

In [39]:
df2

  calisanlar  ilk giris
0        Ali       2010
1       Veli       2009
2       Ayse       2014
3      Fatma       2019

In [40]:
pd.merge(df1,df2)

  calisanlar         grup  ilk giris
0        Ali     muhasebe       2010
1       Veli  muhendislik       2009
2       Ayse  muhendislik       2014
3      Fatma           IK       2019

In [41]:
pd.merge(df1,df2,on="calisanlar")

  calisanlar         grup  ilk giris
0        Ali     muhasebe       2010
1       Veli  muhendislik       2009
2       Ayse  muhendislik       2014
3      Fatma           IK       2019

çoktan teke

In [42]:
df3 =pd.merge(df1,df2)

In [43]:
df3

  calisanlar         grup  ilk giris
0        Ali     muhasebe       2010
1       Veli  muhendislik       2009
2       Ayse  muhendislik       2014
3      Fatma           IK       2019

In [44]:
df4 = pd.DataFrame({'grup':['muhasebe','muhendislik','IK'],'mudur':['Caner','Mustafa','Berkcan']})

In [45]:
df4

          grup    mudur
0     muhasebe    Caner
1  muhendislik  Mustafa
2           IK  Berkcan

In [46]:
pd.merge(df3,df4)

  calisanlar         grup  ilk giris    mudur
0        Ali     muhasebe       2010    Caner
1       Veli  muhendislik       2009  Mustafa
2       Ayse  muhendislik       2014  Mustafa
3      Fatma           IK       2019  Berkcan

çoktan çoka

In [47]:
df5=pd.DataFrame({'grup':['muhasebe','muhasebe','muhendislik','muhendislik','IK','IK'],'yetenekler':['matematik','exel','kodlama','linux','exel','yonetim']})

In [48]:
df5

          grup yetenekler
0     muhasebe  matematik
1     muhasebe       exel
2  muhendislik    kodlama
3  muhendislik      linux
4           IK       exel
5           IK    yonetim

In [49]:
df1

  calisanlar         grup
0        Ali     muhasebe
1       Veli  muhendislik
2       Ayse  muhendislik
3      Fatma           IK

In [50]:
pd.merge(df1,df5)

  calisanlar         grup yetenekler
0        Ali     muhasebe  matematik
1        Ali     muhasebe       exel
2       Veli  muhendislik    kodlama
3       Veli  muhendislik      linux
4       Ayse  muhendislik    kodlama
5       Ayse  muhendislik      linux
6      Fatma           IK       exel
7      Fatma           IK    yonetim