# İleri Toplulaştırma İşlemleri (Agregate, filter, transform, apply)

In [1]:
import pandas as pd

In [2]:
df = pd.DataFrame({
    'gruplar': ['A','B','C','A','B','C'],
    'degisken1': [10,11,52,23,43,55],
    'degisken2': [1,32,452,63,783,35]},columns=['gruplar','degisken1','degisken2']
)

In [3]:
df

  gruplar  degisken1  degisken2
0       A         10          1
1       B         11         32
2       C         52        452
3       A         23         63
4       B         43        783
5       C         55         35

 Aggreagate

In [5]:
df.groupby("gruplar").mean()

         degisken1  degisken2
gruplar
A             16.5       32.0
B             27.0      407.5
C             53.5      243.5

In [6]:
import numpy as np

In [9]:
df.groupby("gruplar").aggregate([min,np.median,max])

        degisken1            degisken2
              min median max       min median  max
gruplar
A              10   16.5  23         1   32.0   63
B              11   27.0  43        32  407.5  783
C              52   53.5  55        35  243.5  452

In [10]:
df.groupby("gruplar").aggregate({'degisken1':"min",'degisken2':"max"})

         degisken1  degisken2
gruplar
A               10         63
B               11        783
C               52        452

filter

In [11]:
def filter_func(x):
    return x["degisken1"].std() <9

In [13]:
df.groupby("gruplar").std()

         degisken1   degisken2
gruplar
A         9.192388   43.840620
B        22.627417  531.037193
C         2.121320  294.863528

In [12]:
df.groupby("gruplar").filter(filter_func)

  gruplar  degisken1  degisken2
2       C         52        452
5       C         55         35

transform

In [15]:
df["degisken1"]*9

0     90
1     99
2    468
3    207
4    387
5    495
Name: degisken1, dtype: int64

In [18]:
df_a=df.iloc[:,1:3]

In [20]:
df_a.transform(lambda x:(x-x.mean()/x.std() ) )

   degisken1   degisken2
0   8.405244    0.288972
1   9.405244   31.288972
2  50.405244  451.288972
3  21.405244   62.288972
4  41.405244  782.288972
5  53.405244   34.288972

apply

In [21]:
df_a.apply(np.sum)

degisken1     194
degisken2    1366
dtype: int64

In [23]:
df_a.apply(np.mean)

degisken1     32.333333
degisken2    227.666667
dtype: float64

In [24]:
df.groupby("gruplar").apply(np.sum)

        gruplar  degisken1  degisken2
gruplar
A            AA         33         64
B            BB         54        815
C            CC        107        487

In [25]:
df.groupby("gruplar").apply(np.mean)

/Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages/numpy/core/fromnumeric.py:3430: FutureWarning: In a future version, DataFrame.mean(axis=None) will return a scalar mean over the entire DataFrame. To retain the old behavior, use 'frame.mean(axis=0)' or just 'frame.mean()'
  return mean(axis=axis, dtype=dtype, out=out, **kwargs)
/Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages/numpy/core/fromnumeric.py:3430: FutureWarning: The operation <function mean at 0x104806e80> failed on a column. If any error is raised, this will raise an exception in a future version of pandas. Drop these columns to avoid this warning.
  return mean(axis=axis, dtype=dtype, out=out, **kwargs)
/Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages/numpy/core/fromnumeric.py:3430: FutureWarning: In a future version, DataFrame.mean(axis=None) will return a scalar mean over the entire DataFrame. To retain the old behavior, use 'frame.mean(axis=0)' or just 'frame.mean()'
  return mean(axis=axis, dtype=dtype, out=out, **kwargs)
/Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages/numpy/core/fromnumeric.py:3430: FutureWarning: The operation <function mean at 0x104806e80> failed on a column. If any error is raised, this will raise an exception in a future version of pandas. Drop these columns to avoid this warning.
  return mean(axis=axis, dtype=dtype, out=out, **kwargs)
/Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages/numpy/core/fromnumeric.py:3430: FutureWarning: In a future version, DataFrame.mean(axis=None) will return a scalar mean over the entire DataFrame. To retain the old behavior, use 'frame.mean(axis=0)' or just 'frame.mean()'
  return mean(axis=axis, dtype=dtype, out=out, **kwargs)
/Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages/numpy/core/fromnumeric.py:3430: FutureWarning: The operation <function mean at 0x104806e80> failed on a column. If any error is raised, this will raise an exception in a future version of pandas. Drop these columns to avoid this warning.
  return mean(axis=axis, dtype=dtype, out=out, **kwargs)

         degisken1  degisken2
gruplar
A             16.5       32.0
B             27.0      407.5
C             53.5      243.5