# Koşullu eleman işlemleri

In [1]:
import numpy as np
import pandas as pd

In [3]:
m= np.random.randint(1,30,size=(10,3))

In [5]:
df = pd.DataFrame(m,columns=["var1","var2","var3"])

In [6]:
df

   var1  var2  var3
0    14     5     8
1     2     3    26
2    27    23     3
3    11    23    28
4    26    29    21
5    27     9     4
6    22    24    23
7    26    12    17
8     9    18    18
9    20     8     3

In [7]:
df["var1"]

0    14
1     2
2    27
3    11
4    26
5    27
6    22
7    26
8     9
9    20
Name: var1, dtype: int64

In [8]:
df[0:2]

   var1  var2  var3
0    14     5     8
1     2     3    26

In [12]:
df[df.var1> 15]

   var1  var2  var3
2    27    23     3
4    26    29    21
5    27     9     4
6    22    24    23
7    26    12    17
9    20     8     3

In [13]:
df[df.var1> 15]["var1"]

2    27
4    26
5    27
6    22
7    26
9    20
Name: var1, dtype: int64

In [14]:
df[(df.var1 >15)& (df.var3 <5)]

   var1  var2  var3
2    27    23     3
5    27     9     4
9    20     8     3

In [15]:
df[(df.var1 >15),["var1","var2"]]

InvalidIndexError: (0    False
1    False
2     True
3    False
4     True
5     True
6     True
7     True
8    False
9     True
Name: var1, dtype: bool, ['var1', 'var2'])

loc kullanırsak

In [16]:
df.loc[(df.var1 >15),["var1","var2"]]

   var1  var2
2    27    23
4    26    29
5    27     9
6    22    24
7    26    12
9    20     8

başka yolu

In [20]:
df[(df.var1 >15)][["var1","var2"]]

   var1  var2
2    27    23
4    26    29
5    27     9
6    22    24
7    26    12
9    20     8