# Eleman İşlemleri

In [1]:
import numpy as np

In [2]:
s1= np.random.randint(10,size=5)

In [3]:
s2= np.random.randint(10,size =5)

In [4]:
s3= np.random.randint(10,size=5)

In [5]:
sozluk={"var1":s1,"var2":s2,"var3":s3}

In [6]:
sozluk

{'var1': array([5, 2, 8, 9, 8]),
 'var2': array([1, 4, 2, 4, 4]),
 'var3': array([4, 3, 9, 6, 3])}

In [7]:
import pandas as pd

In [8]:
df=pd.DataFrame(sozluk)

In [9]:
df

   var1  var2  var3
0     5     1     4
1     2     4     3
2     8     2     9
3     9     4     6
4     8     4     3

In [10]:
df[0:1]

   var1  var2  var3
0     5     1     4

In [11]:
df.index

RangeIndex(start=0, stop=5, step=1)

In [12]:
df.index=["a","b","c","d","e"]

In [13]:
df

   var1  var2  var3
a     5     1     4
b     2     4     3
c     8     2     9
d     9     4     6
e     8     4     3

In [14]:
df["c":"e"]

   var1  var2  var3
c     8     2     9
d     9     4     6
e     8     4     3

silme islemleri

In [15]:
df.drop("a",axis=0)

   var1  var2  var3
b     2     4     3
c     8     2     9
d     9     4     6
e     8     4     3

In [16]:
df

   var1  var2  var3
a     5     1     4
b     2     4     3
c     8     2     9
d     9     4     6
e     8     4     3

In [17]:
df.drop("a",axis=0,inplace=True)

In [18]:
df

   var1  var2  var3
b     2     4     3
c     8     2     9
d     9     4     6
e     8     4     3

fancy

In [19]:
l=["c","e"]

In [20]:
df.drop(l,axis=
        0)

   var1  var2  var3
b     2     4     3
d     9     4     6

degiskenler icin

In [21]:
"var1" in df

True

In [22]:
l=["var1","var4","var2"]

In [23]:
for i in l:
    print(i in df)

True
False
True

In [24]:
df

   var1  var2  var3
b     2     4     3
c     8     2     9
d     9     4     6
e     8     4     3

In [25]:
df["var4" ] = df["var1"] / df["var2"]

In [26]:
df

   var1  var2  var3  var4
b     2     4     3  0.50
c     8     2     9  4.00
d     9     4     6  2.25
e     8     4     3  2.00

degisken silmek

In [27]:
df.drop("var4",axis=1)

   var1  var2  var3
b     2     4     3
c     8     2     9
d     9     4     6
e     8     4     3

In [28]:
df

   var1  var2  var3  var4
b     2     4     3  0.50
c     8     2     9  4.00
d     9     4     6  2.25
e     8     4     3  2.00

In [29]:
df.drop("var4",axis=1,inplace= True)

In [30]:
df

   var1  var2  var3
b     2     4     3
c     8     2     9
d     9     4     6
e     8     4     3

fancy ile silelim

In [31]:
l=["var1","var2"]

In [33]:
df.drop(l,axis=1)

   var3
b     3
c     9
d     6
e     3

In [34]:
df

   var1  var2  var3
b     2     4     3
c     8     2     9
d     9     4     6
e     8     4     3