# Pandas DataFrame Olu≈üturma

In [2]:
import pandas as pd

In [4]:
l= [2,1,29,67,90]

In [5]:
l

[2, 1, 29, 67, 90]

In [7]:
pd.DataFrame(l,columns=["degisken_ismi"])

   degisken_ismi
0              2
1              1
2             29
3             67
4             90

In [8]:
import numpy as np

In [9]:
m= np.arange(1,10).reshape((3,3))

In [10]:
m

array([[1, 2, 3],
       [4, 5, 6],
       [7, 8, 9]])

In [11]:
pd.DataFrame(m,columns=["var1","var2","var3"])

   var1  var2  var3
0     1     2     3
1     4     5     6
2     7     8     9

dataframe isimlendirm

In [12]:
df= pd.DataFrame(m,columns=["var1","var2","var2"])

In [14]:
df.head()

   var1  var2  var2
0     1     2     3
1     4     5     6
2     7     8     9

In [15]:
df.columns

Index(['var1', 'var2', 'var2'], dtype='object')

In [16]:
df.columns=("deg1","deg2","deg3")

In [17]:
df

   deg1  deg2  deg3
0     1     2     3
1     4     5     6
2     7     8     9

In [18]:
type(df)

pandas.core.frame.DataFrame

In [19]:
df.axes

[RangeIndex(start=0, stop=3, step=1),
 Index(['deg1', 'deg2', 'deg3'], dtype='object')]

In [20]:
df.shape

(3, 3)

In [21]:
df.ndim

2

In [22]:
df.size

9

In [23]:
df.values

array([[1, 2, 3],
       [4, 5, 6],
       [7, 8, 9]])

In [24]:
type(df.values)

numpy.ndarray

In [25]:
df.head()

   deg1  deg2  deg3
0     1     2     3
1     4     5     6
2     7     8     9

In [26]:
df.tail()

   deg1  deg2  deg3
0     1     2     3
1     4     5     6
2     7     8     9

In [27]:
a = np.array([1,2,3,4,5])

In [28]:
pd.DataFrame(a,columns=["deg1"])

   deg1
0     1
1     2
2     3
3     4
4     5