# Dış kaynaklı veri okuma

In [13]:
import pandas as pd

In [14]:
pd.read_csv('/Users/emreyazici/yunusemreyazici-github-repos/data-manipulation-learning-path/Pandas/dis_kaynakli_veri_okuma/ornekcsv.csv', sep=";")

      a    b     c
0    78   12   1.0
1    78   12   2.0
2    78  324   3.0
3     7    2   4.0
4    88   23   5.0
5     6    2   NaN
6    56   11   6.0
7     7   12   7.0
8    56   21   7.0
9   346    2   8.0
10    5    1   8.0
11  456   21   8.0
12    3   12  88.0

txt okuma

In [15]:
pd.read_csv('/Users/emreyazici/yunusemreyazici-github-repos/data-manipulation-learning-path/Pandas/dis_kaynakli_veri_okuma/duz_metin.txt')

    1 2
0   2 2
1   3 2
2   4 2
3   5 2
4   6 2
5  7 2
6   8 2
7   9 2
8  10 2

In [20]:
df = pd.read_excel("/Users/emreyazici/yunusemreyazici-github-repos/data-manipulation-learning-path/Pandas/dis_kaynakli_veri_okuma/ornekx.xlsx")

In [21]:
df

      a    b     c
0    78   12   1.0
1    78   12   2.0
2    78  324   3.0
3     7    2   4.0
4    88   23   5.0
5     6    2   NaN
6    56   11   6.0
7     7   12   7.0
8    56   21   7.0
9   346    2   8.0
10    5    1   8.0
11  456   21   8.0
12    3   12  88.0

In [22]:
type(df)

pandas.core.frame.DataFrame

In [23]:
df.head()

    a    b    c
0  78   12  1.0
1  78   12  2.0
2  78  324  3.0
3   7    2  4.0
4  88   23  5.0

In [24]:
df.columns= ("A","B","C")

In [25]:
df

      A    B     C
0    78   12   1.0
1    78   12   2.0
2    78  324   3.0
3     7    2   4.0
4    88   23   5.0
5     6    2   NaN
6    56   11   6.0
7     7   12   7.0
8    56   21   7.0
9   346    2   8.0
10    5    1   8.0
11  456   21   8.0
12    3   12  88.0